* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
 list-style: none;   
}

.container {
    max-width: 1140px;
    width: 100%;
   padding: 0 15px; 
}

.body {
    font-family: Rubik;
    
}
    
.nav {
    background: #FFFFFF;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
}

.nav-link {
    display: inline-block;
    color: #000000;
    line-height:19px ;
    font-size: 16px;
    font-weight: 400;
    margin-right: 30px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent ;
   padding-top: 31px;
    padding-bottom: 26px;
    transition: 0.5s;
}

.nav-link:hover {
 border-color: #000000; 
}

.nav-form {
    display: flex;
}

.form-search {
    outline: none;
    border: 1px solid #000000;
    border-radius: 10px 0px 0px 10px;
    padding: 8px 12px;
    color: #000000;
    line-height: 14px;
    font-weight: 400;
   font-size: 12px; 
    max-width: 216px;
    width: 100%;
}

.form-btn {
    border: none;
    background: #000000;
    border-radius: 0px 10px 10px 0px;
    color: #FFFFFF;
    line-height: 14px;
    font-size: 12px;
    font-weight: 400;
    padding: 0 16px;
}
.form-search::placeholder {
    color: #000000;
}

.header {
    background: url('../images/header-bg.png') no-repeat center center /cover;
    height: 780px;
}















